@import 'base/mixins';

.tool {
   background: url('./images/WavesBackground.png') no-repeat;
   background-size: contain;
   @include max-md {
      background: none;
   }
   .col-lg-8, .col-lg-4 {
      padding: 0 .5em;
      @include max-md {
         padding: 0 15px;
      }
   }
   .tool__main {
      padding-top: 4em;
      height: calc(100vh - 5em);
      position: relative;
      z-index: 1;
      @include max-md {
         display: block;
         padding: 2em 0;
         height: auto;
      }
   }
   .tool__use {
      padding: 6em 0;
   }
   .code-block {
      margin-top: 1em;
   }
}