@import 'base/colors';
@import 'base/mixins';

.article-controller {
   display: flex;
   justify-content: space-between;
   .article-controller__nav {
      border-left-style: solid;
      border-left-color: transparent;
      border-width: .4em;
      border-image: url(../../global/images/Dots1x5.png) 30 repeat;
      padding: .5em 1.5em;
      @include max-md {
         display: none;
      }
      height: 100%;
   }
   .article-controller__article {
      width: 66%;
      @include max-md {
         width: 100%;
      }
   }
}

button.article-nav__link {
   background: none;
   padding: .25em 0;
   display: block;
   text-transform: capitalize;
   font-weight: 600;
   color: color(text);
   opacity: .7;
   transition: .2s;
   &:hover {
      color: color(black);
      opacity: 1;
      cursor: pointer;
   }
}
button.article-nav__link--active {
   color: color(black);
   opacity: 1;
}


.article {
   display: none;
   background: white;
   padding: 1.5em;
   position: relative;
   @include max-md {
      display: block;
      margin-top: 3em;
   }
   h1 {
      font-size: 1.5rem;
   }
   p {
      width: 100%;
      margin-bottom: 0;
   }
   .article__index {
      font-family: 'Roboto Mono', Monaco, courier, monospace;
      font-size: 3em;
      font-weight: 600;
      color: color(blue);
      position: absolute;
      z-index: -1;
      top: 0;
      right: -.95em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;  
      @include max-md {
         top: -.8em;
         right: .25em;
      }
   }
   .article__title {
      text-transform: capitalize;
   }
   .code-block {
      margin: 1em 0;
      &:last-of-type {
         margin-bottom: 0;
      }
   }
}
.article--gray {
   background: color(bg);
}