// DEFAULT
$hex-port--gore: #1E1F4D;
$hex-mulled--wine: #4B4C71;
$hex-mischka: #DDDDE4;
$hex-persian--blue: #391DD5;
$hex-mountain--meadow: #1DD59C;

// FUNCTION
$colors: (
  black: $hex-port--gore,
  dim-black: $hex-mulled--wine,
  dim-gray: $hex-mischka,
  blue: $hex-persian--blue,
  green: $hex-mountain--meadow
);
@function color($args) {
  @return map-get($colors, $args);
}
