@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap);
$work-sans: 'Work Sans', sans-serif;

@mixin font-h1 {
   font-family: $work-sans;
   font-size: 2.5em;
   font-weight: 600;
   color: $hex-port--gore;
}
@mixin font-h2 {
   font-family: $work-sans;
   font-size: 1.5em;
   font-weight: 700;
   color: $hex-port--gore;
}
@mixin font-p($weight) {
   font-family: $work-sans;
   font-size: 1em;
   font-weight: $weight;
   color: $hex-mulled--wine;
}
@mixin link-a {
   font-size: .8em;
   font-weight: 700;
   letter-spacing: .1em;
}