html {font-size: 16px; scroll-behavior: smooth;}
body {-webkit-font-smoothing: antialiased;}
* {transition: .2s;}
img {pointer-events: none;}
.container {overflow: hidden;}

.preload * {
   transition: none !important;
   -webkit-transition: none !important;
   -moz-transition: none !important;
   -ms-transition: none !important;
   -o-transition: none !important;
}

::selection {
   background: $hex-persian--blue;
   color: white;
}
::-moz-selection {
   background: $hex-persian--blue;
   color: white;
}