* {font-family: $work-sans;}
h1 {@include font-h1;}
p {@include font-p(400);}
h2 {@include font-h2;}

a:hover {
   text-decoration: none;
}

input {
   border: 0;
   border-radius: .25em;
}
input:focus {outline: none;}