.generator {
   border: 1px solid rgba(0,0,0,.1);
   border-radius: .25em;
}

.generator small {
   color: rgba(30, 31, 77, .5);
   width: 100%;
   display: block;
   background: #E9ECEF;
   padding: .25em 1em;
   border-bottom: 1px solid rgba(0,0,0,.05);
}

.generator-container {
   padding: 1em;
}

/* Sections */
.generator-radio {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1em;
   border-top: 1px solid rgba(0,0,0,.1);
}