.generator-input input {
   border: 1px solid rgba(0,0,0,.2);
   border-radius: .2em 0 0 .2em;
   padding: .5em 1em;
   font-weight: 600;
   color: var(--port-gore);
   width: 5em;
}
.generator-input input:focus {
   outline: none;
}

.generator-input .input-group-append {
   background-color: #EFEFF0;
}

.generator-input .input-group-append .input-group-text, label {
   text-transform: uppercase;
   font-weight: 600;
   color: rgba(30, 31, 77, .5);
   letter-spacing: 1px;
}

label {
   width: 100%;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
   -moz-appearance:textfield;
}