@import 'base/colors';

.radio-group {
   border-radius: .2em;
   display: flex;
   button {
      color: color(black);
      text-transform: uppercase;
      font-weight: 600;
      width: auto;
      border: 0;
      border-top: 1px solid color(border);
      border-bottom: 1px solid color(border);
      padding: 0;
      background: white;
      &:first-of-type {
         border-left: 1px solid color(border);
         border-radius: .2em 0 0 .2em;
      }
      &:last-of-type {
         border-right: 1px solid color(border);
         border-radius: 0 .2em .2em 0;
      }
      &:hover {cursor: pointer;}
   }
   label {
      color: color(black);
      padding: .5em 1em;
      margin: 0;
      position: relative;
      &:hover {
         cursor: pointer;
      }
   }
   input {
      display: none;
   }
}

.radio-group input[type="radio"]:checked + button {
   background: color(blue);
   border-color: color(blue);
}
.radio-group input[type="radio"]:checked + button label {
   color: white;
}

button:focus {
   outline: 0;
}