@import 'base/colors';

.slider {
   display: inline-block;
   padding-bottom: 1em;
   input {
      border: 2px solid color(blue);
      border-radius: .25em;
      padding: .25em .5em;
      width: 3.5em;
      text-align: center;
      z-index: 2;
      &:hover {
         cursor: ew-resize;
      }
      &::selection {
         background: transparent;
      }
   }
   label {
      margin-bottom: 1em;
   }

   // Children
   .slider__axis {
      width: 100%;
      height: .5em;
      border-radius: .5em;
      background: #DDDDE4;
      display: flex;
      /* justify-content: center; */
      align-items: center;
      position: relative;
   }
   .slider__range {
      transition: none !important;
      height: .5em;
      background: color(blue);
      position: absolute;
      z-index: 1;
      left: 0;
      border-radius: .5em 0 0 .5em;
   }
   
}

