footer {
   background-color: $hex-port--gore;
   position: fixed;
   bottom: 0;
   width: 100%;
   padding: 1em 0;
   hr {
      border-color: rgba(255,255,255,.1);
   }
   h2 {
      @include font-p(700);
      color: white;
      display: inline-block;
      @include max-md {
         display: block;
         text-align: center;
         margin-right: 0;
      }
   }
   i {
      color: rgba(255,255,255,.3);
      display: inline-block;
      font-size: .9em;
      font-style: normal;
      @include max-md {
         display: block;
         text-align: center;
      }
   }
   ul {
      margin: 2em 0;
      list-style-type: none;
      padding: 0;
      li {
         color: white;
         a {
            color: rgba(255,255,255,.7);
         }
         a:hover {
            color: rgba(255,255,255,.9);
         }
      }
      li:first-of-type {
         font-weight: 700;
         margin-bottom: .5em;
      }
      @include max-md {
         margin: 1em 0;
      }
   }
   .credits {
      a {
         color: rgba(255,255,255,.3)
      }
      a:hover {color: rgba(255,255,255,.7);}
   }

   form {
      width: 100%;
      input {
         background-color: rgba(255,255,255,.1);
         padding: .5em 1em;
         color: white;
         width: 75%;
         display: inline-block;
         @include max-md {width: 100%;}
      }
      input::placeholder {
         color: rgba(255,255,255,.7);
      }
      input[type="submit"] {
         @include link-a;
         width: 20%;
         font-size: 1em;
         background-color: $hex-mountain--meadow;
         margin-left: .5em;
         @include max-md {
            width: 100%;
            margin: 1em 0 0 0;
         }
      }
   }
}