.navbar {
   line-height: 4em;
   padding: 0;
   border-bottom: 1px solid $hex-mischka;
   a {color: $hex-port--gore;}

   .navbar-brand {
      @include font-h2;
   }
   .navbar-toggler {
      @include font-p(700);
      border: 0;
      padding: 0;
      outline: none;
   }

   ul.navbar-nav {
      a {
         @include link-a;
         font-size: .9em;
      }
      a.nav-link {
         padding-left: 4em;
         position: relative;
         @include max-sm {padding: 0; text-align: center; width: 100%;}
      }
   }
   ul.navbar-nav:first-child {
      @include max-sm {
         border-top: 1px solid $hex-mischka;
      }
   }

   span.index {
      color: $hex-persian--blue;
      font-size: .75em;
      position: absolute;
      top: 0;
      @include max-sm {display: block; top: -1.5em; left: 46%;}
   }
   span.arrow {
      position: absolute;
      right: 0;
      color: $hex-persian--blue;
   }

   @include max-sm {
      .container {padding: 0 1em;}
   }
}