footer {
   background: var(--port-gore);
   color: white;
   display: block;
   width: 100%;
   padding-top: 4em;
}

footer ul {
   margin-bottom: 3em;
}

footer li:first-child {
   font-weight: 600;
   margin-bottom: .5em;
}
footer li a {
   color: rgba(255,255,255,.8);
   margin-bottom: .25em;
}
footer li a:hover {
   color: white;
}

@media (max-width: 991.98px) {
   footer {
      padding-top: 2em;
   }
   footer ul {
      margin-bottom: 2em;
   }
}