@import 'base/colors';
@import 'base/mixins';

.navbar {
   line-height: 3em;
   border-bottom: 1px solid color(border);
}

.navbar-toggler {
   padding-right: 0;
   border: 0;
   border-radius: 0;
   font-size: 1em;
   font-weight: bold;
   color: color(text);
   letter-spacing: .1em;
   &:focus {
      outline: none;
   }
}

.navbar-toggler-icon {
   width: auto;
   height: auto;
}

.superscript {
   color: var(--persian-blue);
   position: relative;
   font-size: .7em;
   top: -1em;
   @include max-md {
      position: absolute;
      width: 100%;
      left: 0;
      top: -1.5em;
   }
}