a.nav-link {
   color: var(--port-gore);
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 1px;
   position: relative;
}
a.nav-link:hover {
   color: var(--port-gore);
   opacity: .9;
}

.navbar-expand-lg .navbar-nav .nav-link {
   padding: 0;
   padding-left: 4em;
}

.arrow {
   position: absolute;
   right: 0;
   color: var(--persian-blue);
}

@media (max-width: 991.98px) {
   a.nav-link {
      text-align: center;
      margin: .25em 0;
   }
   a.nav-link:hover .arrow, a.nav-link:active .arrow {
      right: -.25em;
   }
   .navbar-expand-lg .navbar-nav .nav-link {
      padding: 0;
   }
   ul.navbar-nav {
      margin-top: 1em;
   }
}