@import 'base/colors';

.preview--button {
   height: 220px;
   display: flex;
   justify-content: center;
   align-items: center;
   .preview--button__icon {
      padding: .75em 1em;
      border-right: 1px solid color(border);
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .preview--button__text {
      padding: .75em 1em;
   }
   button {
      display: flex;
      &:active .preview--button__icon svg g circle { stroke-width: 100vw; }
   }
   svg {
      overflow: visible;
   }
   .preview--button__icon svg g circle {
      transition: .5s ease-in-out;
      stroke-width: 0px;
   }
}