@import 'base/colors';
@import 'base/mixins';
@import './preview.scss';

.preview--shadow {
   width: 100%;
   .preview--shadow__box {
      position: absolute;
      top: 25%;
      left: 25%;
      width: 50%;
      height: 50%;
      border-radius: .2em;
   }
   &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
   }
}